

<div id="home-container">
      
   <section id="news-container">
     <h1>News Feed</h1>
   </section>

   <section id="main-container">
      <div id="post-container">
           <h1>Posts</h1>
           <% if(locals.user){ %>
           <form action="/post/create" id="new-post-from" method="POST">
              <textarea name="content" cols="30" rows="3" placeholder="Type Here....."></textarea>  
              <input type="submit" value="Post"> 
           </form>
   
          <% } %>
   
               <div id="post-display">
   
                   <ul> 
                           <% posts.forEach((post) => { %>
                                   
                              <%- include('_post',{post: post });%>
   
                           <% }); %>
                   </ul>
               </div>
      </div>
   
      <div id="people-container">
   
      </div>
   </section>
   
   <section id="friends-container">
      <h1>Friends</h1>
      <% for(u of all_users){%>
            <p>
               <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
            </p>
     <% } %>
   </section>
   
    
</div>
<script src="/js/home_post.js"></script>
