

<div id="home-container">
      
   <section id="news-container">
     <h1>News Feed</h1>
   </section>

   <section id="feed-posts">
           <h1>Posts</h1>
           <% if(locals.user){ %>
           <form action="/post/create" id="new-post-form" method="POST">
              <textarea name="content" cols="30" rows="3" placeholder="Type Here....."></textarea>  
              <input type="submit" value="Post"> 
           </form>
   
          <% } %>
   
               <div id="posts-list-container">
   
                  <ul>
                     <% posts.forEach(function(post){ %>
                           <%- include('_post', {post: post}); %>
                      <% }); %>
                      
                   </ul>
               </div>
   </section>
   
   <section id="user-friends">
      <h1>Friends</h1>
      <% for(u of all_users){%>
            <p>
               <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
            </p>
     <% } %>
   </section>
   
    
</div>
<!-- importing this script for creating the comments -->
<script src="/js/post_comment.js" ></script>
<script src="/js/home_post.js"></script>

