#home-container{
      width: 100%;
      height: 100%;
      display: flex;

}
#news-container{     
     width: 20%;
     height: 100%;
     padding: 10px;
}
#feed-posts{     
      width: 60%;
      height:100%;
      padding: 10px;
      border-left: 2px solid lightgray;
      /* background-color: coral; */
}
#user-friends{
     width: 20%;
     height: 100%;
     padding: 10px;
     border-left: 2px solid lightgrey;    
}

#user-friends div:first-child{
       
       width: 100%;
       height: 45%;
       /* background-color: gray; */

}
#user-friends div:nth-child(2){
        
       width: 100%;
       height: 45%;
       /* background-color: aqua; */;

}

#user-friends div:nth-child(2) a{   
      
      font-size: 15px;
       color: red;
       
}

